.x-table {
	&,
	tr,
	th,
	td {
		border: 1px solid #eee;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 0.25em 0.5em;
	}

	th._sort {
		text-decoration: underline;
		text-decoration-style: dotted;
		cursor: pointer;
		&._active:after {
			content: "▾";
		}
	}
}
